body {
  font-family: 'Rubik', sans-serif;
}

.toast-notification {
  position: fixed;
  top: 4rem;
  z-index: 1050; /*Show toast above other site elements*/
}

.toast-notification-body {
  color: white;
}

.custom-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(55, 60, 121);
  background: linear-gradient(
    90deg,
    rgba(55, 60, 121, 1) 0%,
    rgba(0, 18, 161, 1) 100%
  );
}

.navbar {
  #navbar-brand {
    color: coral;
  }

  .navbar-search-placeholder {
    color: black;
  }

  #navbar-dropdown-title {
    color: white;
  }

  .navbar-loginform-form-control {
    color: black;
    background-color: white;
    width: 400px;
  }

  .navbar-loginform-form-control::placeholder {
    color: black;
  }
}

.product-info {
  margin-top: 90px;
}

.imagecarousel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 800px;
}

.imagecarousel-imagecontainer {
  display: flex;
  justify-content: center;
}
